<%= render "shared/tabs" -%>

<div class="tab">
  <table class="block four-columns">
    <thead>
      <tr>
        <% @subjects.each do |subject| %>
          <th><%= subject.name -%></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @subjects.each do |subject| %>
          <td>
            <%= render @topics_by_subject[subject] %>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>

  <% if current_user.admin? %>
    <%= link_to "Create New Topic", new_topic_path %>
  <% end %>
</div>
