<h1>Curriculum Map - <%= link_to "Supply List", materials_path, style: 'font-weight: normal;' %></h1>

<table class="block four-columns">
  <thead>
    <tr>
      <% @subjects.each do |subject| %>
        <th><%= subject.name -%></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @subjects.each do |subject| %>
        <td>
          <%= render @topics_by_subject[subject] %>
        </td>
      <% end %>
    </tr>
</table>

<br>

<%= link_to 'New Topic', new_topic_path %>
