<h1>Forgot Password</h1>

<p>
  Gain access to your account by entering your email address. We'll send you a
  link that will grand you access so you can change your password.
</p>

<%= form_tag send_access_email_users_path do %>
  <label>
    Email:
    <input type="email" name="email" required autofocus>
  </label>
  <input type="submit" value="Send access email">
<% end %>
