<p>
  A subscription for Nebel Science is $3.00/month. You will receive a 30-day
  free trial and can cancel at anytime. We do not store credit card information
  on our servers.
</p>

<%= billing_button_and_form %>
