input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #7f7f7f;
  border-radius: 3px;
  font-size: 14px;
  font-family: Arial;
  padding: 4px 6px;
}

#merger input[type="text"],
#new_requisition input[type="text"] {
  width: 70px;
}

#merger input[type="text"][name="loser_ids"] {
  width: 170px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  outline: none;
  border-color: rgb(0, 128, 255);
  box-shadow: 0 0 6px rgba(0, 128, 255, 0.4);
}

textarea {
  min-height: 100px;
}

.markdown-preview-container {
  position: relative;
}
.markdown-preview-container button {
  color: rgb(0, 128, 255);
  border: 1px solid rgb(0, 128, 255);
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  font-size: 10px;
  line-height: 14px;
  position: absolute;
  bottom: 6px;
  right: 4px;
  cursor: pointer;
}
