#left-column {
  float: left;
  width: 25%;
  font-size: 14px;
  line-height: 20px;
}

#right-column {
  margin-left: 30%;
}

#left-column h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.topic a {
  display: block;
  color: #000000;
  border: 1px solid #e10005;
  background-color: #ebb8b4;
  padding: 5px 10px;
  margin-bottom: 20px;
}
