
#topic h1 {
  margin-top: 0;
  font-size: 28px;
  line-height: 32px;
}
#topic h1,
#topic .prerequisites {
  text-align: center;
}
#topic .prerequisites {
  margin-bottom: 4em;
}

table.grid {
  padding: 0;
  margin: 0;
  border-spacing: 0;
  width: 100%;
}
table.two-column td:first-child {
  width: 49%;
  padding-right: 1%;
}
table.two-column td:last-child {
  padding-left: 1%;
  width: 49%;
}

#topic .exercise {
  border: 1px solid #c2c2c2;
  padding: .6em 1em;
  background-color: #f9f9f9;
}
#topic .exercise:not(:last-child) {
  margin-bottom: 1em;
}
#topic .exercise:not(:target) .details {
  display: none;
}
#topic .exercise:target header .materials {
  display: none;
}
#topic .exercise:target .details {
  display: block;
  overflow: hidden;
}
#topic .exercise:target header {
  border-bottom: 1px solid #c2c2c2;
  padding-bottom: .6em;
}
#topic .exercise header {
  font-size: 16px;
}
#topic .exercise .part,
#topic .exercise .name {
  display: inline-block;
}
#topic .exercise .part {
  min-width: 60px;
  font-weight: bold;
}
#topic .exercise header .materials {
  font-size: 12px;
  line-height: 16px;
  margin-left: 65px;
}

#topic .details .materials {
  width: 30%;
}
#topic .details .body {
  width: 68%;
}

#topic #messages {
  margin: 2em 0;
}

.topic {
  border: 1px solid #e10005;
  background-color: #ebb8b4;
  padding: 8px 10px;
  margin-bottom: 20px;
  position: relative;
}
.topic input {
  position: absolute;
}
.topic a {
  color: #000000;
  display: block;
  margin-left: 24px;
}
