<h1>Editing material</h1>

<p>
  <strong>Original name:</strong>
  <%= @material.original_name -%>
</p>

<%= render "exercises", requisitions: @material.requisitions -%>

<%= render 'form' %>

<%= link_to 'Back', materials_path %>
